<!doctype html>
<html ng-app="todoApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="task.js"></script>
  </head>
  <body>
    <h2>  Todo:</h2>
    <div ng-controller="TodoListController as todoList">
      <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos" class="list-group-item">
          <label class="checkbox list-group">
            <i  ng-class="{true:'glyphicon glyphicon-check' ,false: 'glyphicon glyphicon-unchecked'}[todo.default]"
                ng-mouseenter="todo.default=true || todo.done"
                ng-mouseleave="todo.default=false || todo.done"
                ng-click="todoList.done(todo.id)"></i>
            <div>
              <span>Name: {{todo.task_name}}</span></br>
              <span>Time: {{todo.time_to_do}}</span>
            </div>
          </label>
        </li>
        <li class="list-group-item">
          <form novalidate class="simple-form">
            <label>Name: <input type="text" ng-model="todoList.input.name" /></label><br />
            <label>Due date: <input type="date" ng-model="todoList.input.due" /></label><br />
            <label>Difficulty: <input type="range" ng-model="todoList.input.diff"/></label><br />
            <button type="button" class="btn btn-default" ng-click="todoList.addTask()">Create</button>
          </form>
        </li>
      </ul>
    </div>


  </body>
</html>